<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span *ngIf="data.pageType=='add'" class="title dialog-title">Add Role</span>
            <span *ngIf="data.pageType=='edit'" class="title dialog-title">Update Role</span>
            <button mat-button class="mat-icon-button"
                    (click)="dialogRef.close()"
                    aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <form [formGroup]="roleForm" class="event-form w-100-p" fxLayout="column" fxFlex>
            <mat-form-field>
                <input matInput [(ngModel)]="data.selectedRole.name" formControlName="name" placeholder="Role Name" required>
                <mat-error *ngIf="roleFormErrors.name.required">
                    Role name is required!
                </mat-error>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-button 
              *ngIf="data.pageType=='add'"
              mat-raised-button
              [disabled]="roleForm.invalid"
              (click)="addRole()"
              class="save-button mat-accent"
              aria-label="SAVE">
              Add
        </button>
        <button mat-button 
              *ngIf="data.pageType=='edit'"
              mat-raised-button
              [disabled]="roleForm.invalid"
              (click)="updateRole()"
              class="save-button mat-accent"
              aria-label="SAVE">
              Update
        </button>
        <button mat-button 
        (click)="dialogRef.close(['close', roleForm])">
                Close
        </button>
    </div>
  </div>