<div id="student-add-edit" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">
        <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/apps/student/list'">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="product-image mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          <mat-icon class="s-48">person_outline</mat-icon>
        </div>
        <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="pageType === 'new'">
            New Student
          </div>
          <div class="h2" *ngIf="pageType === 'edit'">
            {{student.lastName}} {{student.firstName}} {{student.middleName}}
          </div>
          <div class="subtitle secondary-text">
            <span>Student Registration</span>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="horizontal-stepper-wrapper">
        <!-- HORIZONTAL STEPPER -->
        <mat-horizontal-stepper class="mat-elevation-z4" [linear]="true">
          <!-- STEP 1: General Information-->
          <mat-step [stepControl]="generalInfo">
            <form [formGroup]="generalInfo">
              <ng-template matStepLabel>General Information</ng-template>
              <div>
                <!-- Date of Admission -->
                <mat-form-field fxFlex="33">
                  <input matInput [matDatepicker]="doa" placeholder="Date of Admission" formControlName="admissionDate">
                  <mat-datepicker-toggle matSuffix [for]="doa"></mat-datepicker-toggle>
                  <mat-datepicker #doa></mat-datepicker>
                </mat-form-field>

                <!-- Academic Year -->
                <mat-form-field fxFlex="33">
                  <mat-select placeholder="Academic Year" formControlName="academicYear" required>
                    <mat-option *ngFor="let academic of academicYears" [value]="academic.academicYearId">
                      {{academic.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="academicYear.errors?.required">
                    Academic Year is required!
                  </mat-error>
                </mat-form-field>

                <!-- Roll No -->
                <mat-form-field fxFlex="33">
                  <input matInput type="number" placeholder="Roll No" formControlName="rollNo">
                </mat-form-field>
              </div>


              <div>
                <!-- Last Name -->
                <mat-form-field fxFlex="33">
                  <input matInput placeholder="Last name" formControlName="lastName" required>
                  <mat-error *ngIf="lastName.errors?.required">
                    Last Name is required!
                  </mat-error>
                </mat-form-field>

                <!-- First Name -->
                <mat-form-field fxFlex="33">
                  <input matInput placeholder="First name" formControlName="firstName" required>
                  <mat-error *ngIf="firstName.errors?.required">
                    First Name is required!
                  </mat-error>
                </mat-form-field>

                <!-- Middle Name -->
                <mat-form-field fxFlex="34">
                  <input matInput placeholder="Middle name" formControlName="middleName">
                </mat-form-field>
              </div>

              <div>
                <!-- Date of Birth -->
                <mat-form-field fxFlex="33">
                  <input matInput [matDatepicker]="birthdate" placeholder="Date of birth" formControlName="dob" required>
                  <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
                  <mat-datepicker #birthdate></mat-datepicker>
                  <mat-error *ngIf="dob.errors?.required">
                    Date of birth is required!
                  </mat-error>
                </mat-form-field>

                <!-- Gender -->
                <div class="mat-input-infix mat-form-field-infix" fxFlex="33" fxLayoutAlign="center center">
                  <mat-radio-group formControlName="gender">
                    <mat-radio-button name="gender" value="Male">Male</mat-radio-button>
                    <mat-radio-button name="gender" value="Female">Female</mat-radio-button>
                  </mat-radio-group>
                </div>

                <!--  Blood group -->
                <mat-form-field fxFlex="33">
                  <mat-select placeholder="Blood group" formControlName="bloodGroup">
                    <mat-option [value]="'A +ve'">
                      A +ve
                    </mat-option>
                    <mat-option [value]="'A -ve'">
                      A -ve
                    </mat-option>
                    <mat-option [value]="'B +ve'">
                      B +ve
                    </mat-option>
                    <mat-option [value]="'B -ve'">
                      B -ve
                    </mat-option>
                    <mat-option [value]="'O +ve'">
                      O +ve
                    </mat-option>
                    <mat-option [value]="'O -ve'">
                      O -ve
                    </mat-option>
                    <mat-option [value]="'AB +ve'">
                      AB +ve
                    </mat-option>
                    <mat-option [value]="'AB -ve'">
                      AB -ve
                    </mat-option>
                  </mat-select>
                  <!-- <mat-error *ngIf="bloodGroup.errors?.required">
                    Blood group is required!
                  </mat-error> -->
                </mat-form-field>
              </div>

              <div>
                <!-- Category -->
                <mat-form-field fxFlex="33">
                  <mat-select placeholder="Category" formControlName="category" required>
                    <mat-option [value]="'OPEN'">
                      OPEN
                    </mat-option>
                    <mat-option [value]="'SC'">
                      SC
                    </mat-option>
                    <mat-option [value]="'ST'">
                      ST
                    </mat-option>
                    <mat-option [value]="'OBC'">
                      OBC
                    </mat-option>
                    <mat-option [value]="'SBC'">
                      SBC
                    </mat-option>
                    <mat-option [value]="'VJ'">
                      VJ
                    </mat-option>
                    <mat-option [value]="'NT-B'">
                      NT-B
                    </mat-option>
                    <mat-option [value]="'NT-C'">
                      NT-C
                    </mat-option>
                    <mat-option [value]="'NT-D'">
                      NT-D
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="category.errors?.required">
                    Category is required!
                  </mat-error>
                </mat-form-field>

                <!-- Religion -->
                <mat-form-field fxFlex="34">
                  <input matInput placeholder="Religion" formControlName="religion">
                  <!-- <mat-error *ngIf="religion.errors?.required">
                    Religion is required!
                  </mat-error> -->
                </mat-form-field>

                <!-- Caste -->
                <mat-form-field fxFlex="34">
                  <input matInput placeholder="Caste" formControlName="caste">
                  <!-- <mat-error *ngIf="caste.errors?.required">
                    Caste is required!
                  </mat-error> -->
                </mat-form-field>
              </div>

              <div>
                <!-- Standard -->
                <mat-form-field fxFlex="33">
                  <mat-select placeholder="Standard" formControlName="standard" required>
                    <mat-option *ngFor="let std of standards" [value]="std.standard_id">
                      {{std.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="standard.errors?.required">
                    Standard is required!
                  </mat-error>
                </mat-form-field>

                <!-- Division -->
                <mat-form-field fxFlex="33">
                  <mat-select placeholder="Division" formControlName="division" required>
                    <mat-option *ngFor="let divi of divisions" [value]="divi.division_id">
                      {{divi.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="division.errors?.required">
                    Division is required!
                  </mat-error>
                </mat-form-field>

                <!-- Nationality -->
                <mat-form-field fxFlex="33">
                  <input matInput placeholder="Nationality" formControlName="nationality" required>
                  <mat-error *ngIf="nationality.errors?.required">
                    Nationality is required!
                  </mat-error>
                </mat-form-field>
              </div>
              <div>
                <!-- Birth Place -->
                <mat-form-field fxFlex="33">
                  <input matInput placeholder="Birth Place" formControlName="birthPlace">
                </mat-form-field>

                <!-- School Type-->
                <mat-form-field fxFlex="33">
                  <mat-select placeholder="School Type" formControlName="schoolType" required>
                    <mat-option [value]="'Pre-Primary'">
                      Pre-Primary
                    </mat-option>
                    <mat-option [value]="'Primary'">
                      Primary
                    </mat-option>
                    <mat-option [value]="'Secondary'">
                      Secondary
                    </mat-option>
                    <mat-option [value]="'Higher Secondary'">
                      Higher Secondary
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="schoolType.errors?.required">
                    School Type is required!
                  </mat-error>
                </mat-form-field>

                <!-- Previous School Name -->
                <mat-form-field fxFlex="33">
                  <input matInput placeholder="Previous School Name" formControlName="previousSchoolName">
                </mat-form-field>
              </div>
              <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button matStepperNext type="button" color="accent">
                  Next
                </button>
              </div>
            </form>
          </mat-step>

          <!-- STEP 2: Contact Information -->
          <mat-step [stepControl]="contactInfo">
            <form [formGroup]="contactInfo">
              <ng-template matStepLabel>Contact Information</ng-template>

              <div>
                <!-- Permanent Address -->
                <mat-form-field fxFlex="50">
                  <textarea matInput placeholder="Permanent Address" formControlName="permanentAddress" required>
                  </textarea>
                  <mat-error *ngIf="permanentAddress.errors?.required">
                    Permanent Address is required!
                  </mat-error>
                </mat-form-field>

                <!-- Correspondence Address -->
                <mat-form-field fxFlex="50">
                  <textarea matInput placeholder="Correspondence Address" formControlName="correspondenceAddress" required>
                    </textarea>
                  <mat-error *ngIf="correspondenceAddress.errors?.required">
                    Correspondence Address is required!
                  </mat-error>
                </mat-form-field>
              </div>

              <div>
                <!-- Country -->
                <mat-form-field fxFlex="33">
                  <input matInput placeholder="Country" formControlName="country" required>
                  <mat-error *ngIf="country.errors?.required">
                    Country is required!
                  </mat-error>
                </mat-form-field>

                <!-- State -->
                <mat-form-field fxFlex="34">
                  <input matInput placeholder="state" formControlName="state" required>
                  <mat-error *ngIf="state.errors?.required">
                    State is required!
                  </mat-error>
                </mat-form-field>

                <!-- City -->
                <mat-form-field fxFlex="34">
                  <input matInput placeholder="City" formControlName="city" required>
                  <mat-error *ngIf="city.errors?.required">
                    City is required!
                  </mat-error>
                </mat-form-field>
              </div>

              <div>
                <!-- Postal Code -->
                <mat-form-field fxFlex="33">
                  <input type="number" matInput placeholder="Postal Code" formControlName="postalCode" pattern="^[0-9]{6}" required>
                  <mat-error *ngIf="postalCode.errors?.required">
                    Postal Code is required!
                  </mat-error>
                  <mat-error *ngIf="postalCode.errors?.pattern">
                      Enter valid postal code.
                  </mat-error>
                </mat-form-field>

                <!-- Doctor Name-->
                <mat-form-field fxFlex="34">
                  <input matInput placeholder="Doctor Name" formControlName="doctorName">
                </mat-form-field>

                <!-- Doctor Phone No -->
                <mat-form-field fxFlex="34">
                  <input type="number" matInput placeholder="Doctor Phone No" formControlName="doctorPhoneNo">
                </mat-form-field>
              </div>
              <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                  Previous
                </button>
                <button mat-raised-button matStepperNext type="button" color="accent">
                  Next
                </button>
              </div>
            </form>
          </mat-step>

          <!-- STEP 3: Parents Information -->
          <mat-step [stepControl]="parentsInfo">
            <form [formGroup]="parentsInfo">
              <ng-template matStepLabel>Parents Information</ng-template>

              <fieldset>
                <legend>Fathers Details</legend>
                <div>
                  <!-- Fathers Name -->
                  <mat-form-field fxFlex="50" formGroupName="fathersDetails">
                    <input matInput placeholder="Fathers Name" formControlName="name" required>
                    <mat-error *ngIf="parentsInfo['controls'].fathersDetails['controls'].name.errors?.required">
                      Fathers Name is required!
                    </mat-error>
                  </mat-form-field>

                  <!-- Email Id -->
                  <mat-form-field fxFlex="50" formGroupName="fathersDetails">
                    <input matInput placeholder="Email" formControlName="emailId">
                  </mat-form-field>
                </div>

                <div>
                  <!-- Qualification -->
                  <mat-form-field fxFlex="50" formGroupName="fathersDetails">
                    <input matInput placeholder="Qualification" formControlName="qualification">
                  </mat-form-field>

                  <!-- Occupation -->
                  <mat-form-field fxFlex="50" formGroupName="fathersDetails">
                    <input matInput placeholder="Occupation" formControlName="occupation">
                  </mat-form-field>
                </div>

                <div>
                  <!-- Phone Number -->
                  <mat-form-field fxFlex="50" formGroupName="fathersDetails">
                    <input matInput placeholder="Phone Number" formControlName="phoneNumber" required>
                    <mat-error *ngIf="parentsInfo['controls'].fathersDetails['controls'].phoneNumber.errors?.required">
                      Phone Number is required!
                    </mat-error>
                  </mat-form-field>

                  <!-- Date of Birth -->
                  <mat-form-field fxFlex="50" formGroupName="fathersDetails">
                    <input matInput [matDatepicker]="fdob" placeholder="Date of birth" formControlName="birthdate">
                    <mat-datepicker-toggle matSuffix [for]="fdob"></mat-datepicker-toggle>
                    <mat-datepicker #fdob></mat-datepicker>
                    <mat-error *ngIf="birthdate.errors?.required">
                      Date of birth is required!
                    </mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <!-- Monthly Income -->
                  <mat-form-field fxFlex="50" formGroupName="fathersDetails">
                    <input matInput placeholder="Monthly Income" formControlName="monthlyIncome">
                  </mat-form-field>
                </div>
              </fieldset>

              <fieldset>
                <legend>Mothers Details</legend>
                <div>
                  <!-- Mothers Name -->
                  <mat-form-field fxFlex="50" formGroupName="mothersDetails">
                    <input matInput placeholder="Mothers Name" formControlName="name" required>
                    <mat-error *ngIf="parentsInfo['controls'].mothersDetails['controls'].name.errors?.required">
                      Mothers Name is required!
                    </mat-error>
                  </mat-form-field>

                  <!-- Email Id -->
                  <mat-form-field fxFlex="50" formGroupName="mothersDetails">
                    <input matInput placeholder="Email" formControlName="emailId">
                  </mat-form-field>
                </div>

                <div>
                  <!-- Qualification -->
                  <mat-form-field fxFlex="50" formGroupName="mothersDetails">
                    <input matInput placeholder="Qualification" formControlName="qualification">
                  </mat-form-field>

                  <!-- Occupation -->
                  <mat-form-field fxFlex="50" formGroupName="mothersDetails">
                    <input matInput placeholder="Occupation" formControlName="occupation">
                  </mat-form-field>
                </div>

                <div>
                  <!-- Phone Number -->
                  <mat-form-field fxFlex="50" formGroupName="mothersDetails">
                    <input matInput placeholder="Phone Number" formControlName="phoneNumber">
                  </mat-form-field>

                  <!-- Date of Birth -->
                  <mat-form-field fxFlex="50" formGroupName="mothersDetails">
                    <input matInput [matDatepicker]="mdob" placeholder="Date of birth" formControlName="birthdate">
                    <mat-datepicker-toggle matSuffix [for]="mdob"></mat-datepicker-toggle>
                    <mat-datepicker #mdob></mat-datepicker>
                  </mat-form-field>
                </div>
              </fieldset>

              <fieldset>
                <legend>Guardian Details</legend>
                <div>
                  <!-- Guardian Name -->
                  <mat-form-field fxFlex="50" formGroupName="guardianDetails">
                    <input matInput placeholder="Guardian Name" formControlName="name">
                  </mat-form-field>

                  <!-- Email Id -->
                  <mat-form-field fxFlex="50" formGroupName="guardianDetails">
                    <input matInput placeholder="Email" formControlName="emailId">
                  </mat-form-field>
                </div>

                <div>
                  <!-- Qualification -->
                  <mat-form-field fxFlex="50" formGroupName="guardianDetails">
                    <input matInput placeholder="Qualification" formControlName="qualification">
                  </mat-form-field>

                  <!-- Occupation -->
                  <mat-form-field fxFlex="50" formGroupName="guardianDetails">
                    <input matInput placeholder="Occupation" formControlName="occupation">
                  </mat-form-field>
                </div>

                <div>
                  <!-- Phone Number -->
                  <mat-form-field fxFlex="50" formGroupName="guardianDetails">
                    <input matInput placeholder="Phone Number" formControlName="phoneNumber">
                  </mat-form-field>

                  <!-- Relationship -->
                  <mat-form-field fxFlex="50" formGroupName="guardianDetails">
                    <input matInput placeholder="Relationship" formControlName="relationship">
                  </mat-form-field>
                </div>
              </fieldset>

              <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                  Previous
                </button>
                <button mat-raised-button matStepperNext type="button" color="accent">
                  Next
                </button>
              </div>
            </form>
          </mat-step>

          <!-- Final Step -->
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <div class="h2 m-16" fxLayout="row" fxLayoutAlign="center center">
              {{pageType ==='new' ? 'Click on the Submit button to register new student' : 'Click on the Save button to update student
              details'}}
            </div>
            <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
              <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                Previous
              </button>
              <button mat-raised-button type="button" color="accent" (click)="addStudent()" *ngIf="pageType ==='new'">
                Submit
              </button>
              <button mat-raised-button type="button" color="accent" (click)="updateStudent()" *ngIf="pageType ==='edit'">
                Save
              </button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</div>