<div id="employee" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

   <!-- CENTER -->
   <div class="center">
      <!-- HEADER -->
      <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">
       
        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">
          <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/apps/employee/list'">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <div class="product-image mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
              <mat-icon class="s-48">person_outline</mat-icon>
          </div>
          <div fxLayout="column" fxLayoutAlign="start start"
               *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
              <div class="h2">
                  New Employee
              </div>
              <div class="subtitle secondary-text">
                  <span>Employee Detail</span>
              </div>
          </div>
        </div>

        <button mat-raised-button
                class="save-product-button mat-white-bg mt-16 mt-sm-0"
                [disabled]="horizontalStepperStep1.invalid || horizontalStepperStep2.invalid || horizontalStepperStep3.invalid"
                *ngIf="pageType ==='new'" (click)="addEmployee()">
            <span>ADD</span>
        </button>

        <button mat-raised-button
                class="save-product-button mat-white-bg mt-16 mt-sm-0"
                [disabled]="horizontalStepperStep1.invalid || horizontalStepperStep2.invalid || horizontalStepperStep3.invalid"
                *ngIf="pageType ==='edit'" (click)="saveEmployee()">
            <span>SAVE</span>
        </button>
      </div>

      <div>
          <div class="horizontal-stepper-wrapper">
            <!-- HORIZONTAL STEPPER EXAMPLE -->
            <mat-horizontal-stepper class="mat-elevation-z4" [linear]="true">
                <mat-step [stepControl]="horizontalStepperStep1">
                    <form [formGroup]="horizontalStepperStep1">
                        <ng-template matStepLabel>General Information</ng-template>
                        <div>
                          <mat-form-field fxFlex="33">
                              <input matInput placeholder="First name" formControlName="firstName" required>
                              <mat-error *ngIf="horizontalStepperStep1Errors.firstName.required">
                                  First Name is required!
                              </mat-error>
                          </mat-form-field>
                          
                          <mat-form-field fxFlex="34">
                              <input matInput placeholder="Middle name" formControlName="middleName">
                          </mat-form-field>

                          <mat-form-field fxFlex="33">
                              <input matInput placeholder="Last name" formControlName="lastName" required>
                              <mat-error *ngIf="horizontalStepperStep1Errors.lastName.required">
                                  Last Name is required!
                              </mat-error>
                          </mat-form-field>
                        </div>
                      
                        <div>
                            <mat-form-field fxFlex="100">
                                <textarea matInput placeholder="Address" formControlName="address" required>
                                    1600 Amphitheatre Pkwy
                                </textarea>
                                <mat-error *ngIf="horizontalStepperStep1Errors.address.required">
                                    Address is required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field fxFlex="33">
                                <input matInput placeholder="City" formControlName="city" required>
                                <mat-error *ngIf="horizontalStepperStep1Errors.city.required">
                                    City is required!
                                </mat-error>
                            </mat-form-field>
    
                            <mat-form-field fxFlex="34">
                                <input matInput placeholder="State" formControlName="state" required>
                                <mat-error *ngIf="horizontalStepperStep1Errors.state.required">
                                    State is required!
                                </mat-error>
                            </mat-form-field>
    
                            <mat-form-field fxFlex="33">
                                <input matInput #postalCode placeholder="Postal Code" formControlName="postalCode"
                                        required>
                                <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
                                <mat-error *ngIf="horizontalStepperStep1Errors.postalCode.maxlength">
                                    Postal Code needs to be max.
                                    {{horizontalStepperStep1Errors.postalCode.maxlength.requiredLength}} characters
                                </mat-error>
                                <mat-error *ngIf="horizontalStepperStep1Errors.postalCode.required">
                                    Postal Code is required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field fxFlex="50">
                                <input matInput #phoneNumber placeholder="Phone Number" formControlName="phoneNumber" required>
                                <mat-hint align="end">{{phoneNumber.value.length}} / 10</mat-hint>
                                <mat-error *ngIf="horizontalStepperStep1Errors.postalCode.maxlength">
                                    Phone number needs to be max.
                                    {{horizontalStepperStep1Errors.postalCode.maxlength.requiredLength}} characters
                                </mat-error>
                                <mat-error *ngIf="horizontalStepperStep1Errors.phoneNumber.required">
                                  Phone number is required!
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="50">
                                <input matInput placeholder="Email Id" formControlName="emailId">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field fxFlex="34">
                                <input matInput [matDatepicker]="picker" placeholder="Date of birth" formControlName="dob" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="horizontalStepperStep1Errors.dob.required">
                                    Date of birth is required!
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="33">
                                <mat-select [(ngModel)]="employee.gender" placeholder="Gender" formControlName="gender" required>
                                    <mat-option [value]="'Male'">
                                        Male
                                    </mat-option>
                                    <mat-option [value]="'Female'">
                                        Female
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="horizontalStepperStep1Errors.gender.required">
                                    Gender is required!
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="33">
                                <input matInput placeholder="Blood group" formControlName="bloodGroup">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field fxFlex="33">
                                <mat-select [(ngModel)]="employee.maritalStatus" placeholder="Marital status" formControlName="maritalStatus" required>
                                    <mat-option [value]="'Married'">
                                        Married
                                    </mat-option>
                                    <mat-option [value]="'Unmarried'">
                                        Unmarried
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="horizontalStepperStep1Errors.maritalStatus.required">
                                    Material status is required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-raised-button matStepperNext type="button" color="accent">
                                Next
                            </button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="horizontalStepperStep2">
                  <form [formGroup]="horizontalStepperStep2">
                      <ng-template matStepLabel>Other Details</ng-template>
                      <div>
                          <mat-form-field fxFlex="50">
                              <mat-select placeholder="Qualification" [(ngModel)]="employee.qualification" formControlName="qualification" required>
                                  <mat-option [value]="'Under Graduation'">
                                      Under Graduation
                                  </mat-option>
                                  <mat-option [value]="'Graduation'">
                                      Graduation
                                  </mat-option>
                                  <mat-option [value]="'Post Graduation'">
                                      Post Graduation
                                  </mat-option>
                              </mat-select>
                              <mat-error *ngIf="horizontalStepperStep2Errors.qualification.required">
                                  Qualification is required!
                              </mat-error>
                          </mat-form-field>

                          <mat-form-field fxFlex="50">
                              <input matInput placeholder="Occupation" formControlName="occupation" required>
                              <mat-error *ngIf="horizontalStepperStep2Errors.occupation.required">
                                  Occupation is required!
                              </mat-error>
                          </mat-form-field>
                      </div>
                      <div>
                          <mat-form-field fxFlex="50">
                              <input matInput placeholder="Date of joining" formControlName="dateOfJoining" required>
                              <mat-error *ngIf="horizontalStepperStep2Errors.dateOfJoining.required">
                                  Date of joining is required!
                              </mat-error>
                          </mat-form-field>
                      </div>
                      <div>
                          <mat-form-field fxFlex="50">
                              <mat-select placeholder="Job type" [(ngModel)]="employee.jobType" formControlName="jobType" required>
                                  <mat-option [value]="'Full Time'">
                                      Full Time
                                  </mat-option>
                                  <mat-option [value]="'Contractor'">
                                      Contractor
                                  </mat-option>
                                  <mat-option [value]="'Intern'">
                                      Intern
                                  </mat-option>
                              </mat-select>
                              <mat-error *ngIf="horizontalStepperStep2Errors.jobType.required">
                                  Job type is required!
                              </mat-error>
                          </mat-form-field>
                      </div>
                      <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                          <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                              Previous
                          </button>
                          <button mat-raised-button matStepperNext type="button" color="accent">
                              Next
                          </button>
                      </div>
                  </form>
              </mat-step>
              <mat-step [stepControl]="horizontalStepperStep3">
                <form [formGroup]="horizontalStepperStep3">
                    <ng-template matStepLabel>Account Details</ng-template>
                    <div>
                        <mat-form-field fxFlex="50">
                            <input matInput placeholder="Pan card number" formControlName="panCardNumber" required>
                            <mat-error *ngIf="horizontalStepperStep3Errors.panCardNumber.required">
                                Pan card number is required!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50">
                            <input matInput placeholder="Aadhar card number" formControlName="aadharCardNumber">
                        </mat-form-field>  
                    </div>
                    <div>
                        <mat-form-field fxFlex="100">
                            <input matInput placeholder="Bank name" formControlName="bankName" required>
                            <mat-error *ngIf="horizontalStepperStep3Errors.bankName.required">
                                Bank name is required!
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field fxFlex="50">
                            <input matInput placeholder="Bank account number" formControlName="bankAccountNumber" required>
                            <mat-error *ngIf="horizontalStepperStep3Errors.bankAccountNumber.required">
                                Bank account number is required!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50">
                            <input matInput placeholder="Bank IFSC code" formControlName="bankIFSCCode" required>
                            <mat-error *ngIf="horizontalStepperStep3Errors.bankIFSCCode.required">
                                Bank IFSC code is required!
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button>
                        <button mat-raised-button matStepperNext type="button" color="accent">
                            Next
                        </button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <div class="h2 m-16" fxLayout="row" fxLayoutAlign="center center">
                    Thank your for filling out our form.
                </div>
                <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                    <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                        Previous
                    </button>
                    <button mat-raised-button type="button" color="accent" (click)="addEmployee()" *ngIf="pageType ==='new'">
                        Add
                    </button>
                    <button mat-raised-button type="button" color="accent" (click)="saveEmployee()" *ngIf="pageType ==='edit'">
                        Save
                    </button>
                </div>
            </mat-step>
            </mat-horizontal-stepper>
          </div>
      </div>
    </div>
</div>

