<div id="dashboard-project" class="dashboard page-layout simple right-sidenav" fxLayout="row">
  <mat-sidenav-container>
    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>
       <!-- CONTENT -->
       <div class="content dashboard-container">
          <mat-card *ngFor="let tile of dashboardWebTiles" [routerLink]="tile.url">
            <mat-card-content>
              <mat-icon class="card-icon">{{tile.icon}}</mat-icon>
              <div class="card-lable">{{tile.title}}</div>
            </mat-card-content>
          </mat-card>
       </div>
    </div>

    <mat-sidenav class="sidenav" align="end" mode="side" opened="true"
                 fuseMatSidenavHelper="dashboards-right-sidenav" mat-is-locked-open="gt-md">
      <div class="sidenav-content" fusePerfectScrollbar>
        <!-- WIDGET GROUP -->
        <div class="widget-group" fxLayout="column" fxFlex="100" *fuseIfOnDom [@animateStagger]="{value:'50'}">
          <!-- NOW WIDGET -->
          <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="sidenav-widget p-0">
            <!-- Front -->
            <div class="fuse-widget-front">
                <div class="pl-16 pr-8 py-16" fxLayout="row" fxLayoutAlign="space-between center">
                  <div class="h3">{{dateNow | date: 'EEEE, HH:mm:ss'}}</div>
                </div>
                <div class="p-16 pb-24" fxLayout="column" fxLayoutAlign="center center">
                    <div class="h1 secondary-text">
                      <span>{{dateNow | date: 'MMMM'}}</span>
                    </div>
                    <div class="font-size-72 line-height-88 secondary-text font-weight-400">
                      {{dateNow | date: 'd'}}
                    </div>
                    <div class="h1 secondary-text">
                      <span>{{dateNow | date: 'y'}}</span>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </div>
            <!-- / Front -->
          </fuse-widget>
          <!-- / NOW WIDGET -->
          <!-- Bday WIDGET -->
          <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="sidenav-widget p-0 bday-widget">
            <!-- Front -->
            <div class="fuse-widget-front">
              <div class="title">Say HappY Bday to...</div>
              <ul>
                <li>
                  <div class="name">Yuvraj Gawade</div>
                  <div class="info">Student 1st / A</div>
                </li>
                <li>
                    <div class="name">Prasad Khegade</div>
                    <div class="info">Employee</div>
                  </li>
              </ul>
            </div>
          </fuse-widget>
        </div>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
