<div id="dashboard" class="page-layout blank grey-100-bg dashboard" fusePerfectScrollbar>
    <div class="content">
        <div class="left mr-32">
            <div>
                <mat-card *ngFor="let tile of dashboardWebTiles"
                          [routerLink]="tile.url">
                  <mat-card-content>
                    <mat-icon class="card-icon">{{tile.icon}}</mat-icon>
                    <div class="card-lable">{{tile.title}}</div>
                  </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div class="right">
            <div class="fuse-card bday-widget">
                <img src="assets/images/cards/happy-bday.jpg">
                <div class="p-16">
                    <div class="h1">Todays Birthdays</div>
                    <div class="h4 secondary-text">{{ dateNow | date:'dd/mm/yyyy' }}</div>
                </div>
                <div class="card-divider"></div>
                <ul>
                    <li>
                      <div class="name">Yuvraj Gawade</div>
                      <div class="info">Student 1st / A</div>
                    </li>
                    <li>
                        <div class="name">Prasad Khegade</div>
                        <div class="info">Employee</div>
                      </li>
                  </ul>
            </div>
        </div>
    </div>
</div>