@import "src/@fuse/scss/fuse";
.dashboard {
    .content {
        display: flex;
        flex: 1 1 auto;
        padding: 32px;
        min-width: 0;

        @include media-breakpoint-down('md') {
            flex-direction: column;
        }

        .left {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            min-width: 0;

            .widget {
                flex: 1 1 auto;
                min-width: 0;
            }
        }

        .right {
            display: flex;
            flex: 0 0 auto;
            width: 320px;
            min-width: 320px;
            max-width: 320px;

            @include media-breakpoint-down('md') {
                flex: 1 0 100%;
                margin-top: 32px;
                width: 100%;
                min-width: 0;
                max-width: none;
            }
        }
    }

    mat-card {
        height: 125px;
        width: 165px;
        border-radius: 3px;
        cursor: pointer;
        float: left;
        box-shadow: #d7d7d7 0 3px 0 0;
        border: 1px solid #d7d7d7;
        margin: 0px 10px 10px 10px;
    }

    mat-card:hover {
        box-shadow: #039be5 0 3px 0 0;
        border: 1px solid #039be5;
    }

    mat-card-content {
        text-align: center;
    }

    .card-icon {
        height: 45px;
        width: 45px;
        font-size: 45px;
        color: #039be5;
        margin-right: 0px !important;
    }

    .card-lable {
        color: #313131;
        font-size: 16px;
    }

    .mat-list .mat-list-item .mat-list-item-content {
        flex-direction: column !important;
    }

    .bday-widget {
        ul {
            list-style: none;
            padding-left: 25px;
            margin-top: 0px;
            li {
                margin-top: 10px;
                .name {
                    font-size: 17px;
                }
                .info {
                    color: gray;
                }
            }
        }
        .card-divider {
            margin: 0 15px;
        }
    }
}