<div id="dashboard" class="page-layout carded fullwidth dashboard" fusePerfectScrollbar>    
  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="header white-fg"
          fxLayout="column" fxLayoutAlign="center center"
          fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
      
      <!-- APP TITLE -->
      <div class="logo my-12 m-sm-0"
            fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">dashboard</mat-icon>
          <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Dashboard</span>
      </div>
      <!-- / APP TITLE -->
    </div>
    <!-- CONTENT CARD -->
    <div class="mat-white-bg">
        <div class="dashboard-container web-container">
          <mat-card *ngFor="let tile of dashboardWebTiles" 
                    [routerLink]="tile.url">
            <mat-card-content>
              <mat-icon class="card-icon">{{tile.icon}}</mat-icon>
              <div class="card-lable">{{tile.title}}</div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="dashboard-container mobile-container">  
          <mat-card *ngFor="let tile of dashboardMobileTiles" 
                    [routerLink]="tile.url">
            <mat-card-content>
              <mat-icon class="card-icon">{{tile.icon}}</mat-icon>
              <div class="card-lable">{{tile.title}}</div>
            </mat-card-content>
          </mat-card>
        </div>
    </div>
  </div>
</div>
