<div id="holidays" class="page-layout carded fullwidth" fusePerfectScrollbar>    
  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="header white-fg"
         fxLayout="column" fxLayoutAlign="center center"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
      
      <!-- APP TITLE -->
      <div class="logo my-12 m-sm-0"
           fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">forum</mat-icon>
          <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Communication</span>
      </div>
      <!-- / APP TITLE -->
    </div>
    <!-- CONTENT CARD -->
    <div class="mat-white-bg communication-container">
      <div style="height: 20%; width: 100%; padding: 10px 20px;">
          <mat-form-field style="width:150px; margin-right: 20px;">
              <mat-select placeholder="Recipients" [(ngModel)]="selectedRecipient" (change)="onChanveRecipients($event)">
                  <mat-option value="students"> Students </mat-option>
                  <mat-option value="employees"> Employees </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field style="width:150px; margin-right: 20px;">    
              <mat-select placeholder="Standard" [(ngModel)]="selectedStd" [disabled]="selectedRecipient===''">
                  <mat-option value="0"> All </mat-option>
                  <mat-option *ngFor="let std of standards" [value]="std.id">
                      {{std.name}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field style="width:150px; margin-right: 20px;"> 
              <mat-select placeholder="Division" [(ngModel)]="selectedDiv" [disabled]="selectedRecipient===''">
                  <mat-option value="0"> All </mat-option>
                  <mat-option *ngFor="let div of divisions" [value]="div.id">
                      {{div.name}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field style="width:200px; margin-right: 20px;"> 
              <mat-select placeholder="Communication Type" [(ngModel)]="selectedType" [disabled]="selectedRecipient===''">
                  <mat-option value="byEmail"> By Email </mat-option>
                  <mat-option value="byTextMessage"> By Text Message </mat-option>
              </mat-select>
          </mat-form-field>
      </div>
      <div *ngIf="selectedRecipient==='students'" style="height: 10%; width: 100%; padding-left: 20px;">
          <mat-checkbox (change)="onChange($event)" value="father">Father</mat-checkbox>
          <mat-checkbox (change)="onChange($event)" value="mother">Mother</mat-checkbox>
          <mat-checkbox (change)="onChange($event)" value="gaurdian">Gaurdian</mat-checkbox>
      </div>
      <div style="border:1px solid; height: 65%; width: 30%; float:left"></div>
      <div style="border:1px solid; height: 65%; width: 70%; float:left"></div>
    </div>
  </div>
</div>