<div id="holidays" class="page-layout carded fullwidth" fusePerfectScrollbar>
  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="header white-fg"
         fxLayout="column" fxLayoutAlign="center center"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

      <!-- APP TITLE -->
      <div class="logo my-12 m-sm-0"
           fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">forum</mat-icon>
          <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Communication</span>
      </div>
      <!-- / APP TITLE -->
    </div>
    <!-- CONTENT CARD -->
    <div class="mat-white-bg communication-container">
      <div class="top-bar">
            <mat-form-field class="form-field">
              <mat-select placeholder="Recipients" [(ngModel)]="selectedRecipient" (change)="onChangeRecipients($event)">
                  <mat-option value="students"> Students </mat-option>
                  <mat-option value="employees"> Employees </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="form-field" *ngIf="selectedRecipient === 'students'">
              <mat-select placeholder="Standard" [(ngModel)]="selectedStd" [disabled]="selectedRecipient===''" (change)="onChangeStd($event)">
                  <mat-option value="0"> All </mat-option>
                  <mat-option *ngFor="let std of standards" [value]="std.standard_id">
                      {{std.name}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="form-field" *ngIf="selectedRecipient === 'students' && showDivs">
              <mat-select placeholder="Division" [(ngModel)]="selectedDiv" [disabled]="selectedRecipient===''" (change)="onChangeDiv($event)">
                  <mat-option value="0"> All </mat-option>
                  <mat-option *ngFor="let div of divisions" [value]="div.division_id">
                      {{div.name}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field class="form-field">
              <mat-select placeholder="Communication Type" [(ngModel)]="selectedType" [disabled]="selectedRecipient===''">
                  <mat-option value="byEmail"> By Email </mat-option>
                  <mat-option value="byTextMessage"> By Text Message </mat-option>
              </mat-select>
          </mat-form-field>
      </div>
      <div *ngIf="selectedRecipient==='students'" class="check-box">
          <mat-checkbox style="margin-right:15px;" (change)="onChange($event)" value="father">Father</mat-checkbox>
          <mat-checkbox style="margin-right:15px;" (change)="onChange($event)" value="mother">Mother</mat-checkbox>
          <mat-checkbox style="margin-right:15px;" (change)="onChange($event)" value="gaurdian">Gaurdian</mat-checkbox>
      </div>
      <div class="main-container">
        <div *ngIf="selectedRecipient!==''" class="list">
            <ngx-datatable #table
                  class="material"
                  [rows]="rows"
                  [loadingIndicator]="loadingIndicator"
                  [columnMode]="'force'"
                  [headerHeight]="48"
                  [footerHeight]="56"
                  [rowHeight]="'auto'"
                  [scrollbarH]="true"
                  [reorderable]="reorderable"
                  [selectionType]="'checkbox'"
                  [limit]="10"
                  [selected]="selected"
                  (select)='onSelect($event)'>

                <ngx-datatable-column [width]="48"
                                  [canAutoResize]="false"
                                  [sortable]="false">
                    <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                                let-selectFn="selectFn">
                        <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
                    </ng-template>

                    <ng-template ngx-datatable-cell-template
                                let-value="value"
                                let-isSelected="isSelected"
                                let-onCheckboxChangeFn="onCheckboxChangeFn"
                                let-row="row">
                        <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn(row)"></mat-checkbox>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Name">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.firstName}} {{row.lastName}}
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
        <div *ngIf="selectedRecipient!==''" class="msg-mail-box">
          <div>
            <form *ngIf="selectedType=='byEmail'" name="composeEmailForm" [formGroup]="composeEmailForm" class="compose-form" fxLayout="column" fxFlex>
              <mat-form-field>
                <input matInput name="from"
                        placeholder="From"
                        formControlName="from"
                        type="email">
              </mat-form-field>

              <mat-form-field>
                <input matInput name="subject"
                        placeholder="Subject"
                        formControlName="subject"
                        [(ngModel)]="mailSubject">
              </mat-form-field>

              <mat-form-field>
                <textarea matInput name="message"
                          placeholder="Message"
                          formControlName="message"
                          rows="6"
                          [(ngModel)]="mailBody">
                </textarea>
              </mat-form-field>
              <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button matStepperNext
                        type="submit"
                        [disabled]="!composeEmailForm.valid"
                        color="accent"
                        (click)="sendEmail();">
                    Send
                </button>
              </div>
            </form>
            <form *ngIf="selectedType=='byTextMessage'" name="composeTextMsgForm" [formGroup]="composeTextMsgForm" class="compose-form" fxLayout="column" fxFlex>
                <mat-form-field>
                  <textarea matInput name="message"
                            placeholder="Message"
                            formControlName="message"
                            rows="6"
                            [(ngModel)]="msgBody">
                  </textarea>
                </mat-form-field>
                <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button matStepperNext
                            type="submit"
                            [disabled]="!composeTextMsgForm.valid"
                            color="accent"
                            (click)="sendMessage();">
                        Send
                    </button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>