.attendance-taker-container {
    .top-bar{
         height: 70px; 
         width: 100%; 
         padding: 10px 20px;
    }
    .form-field {
         width:150px; 
         margin-right: 20px;
    }

    .attendance-taker-form {
        text-align: center;
        margin-top: 15px;
    }
 }