<div class="dialog-content-wrapper">
        <mat-toolbar matDialogTitle class="mat-accent m-0">
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                <span *ngIf="data.pageType=='add'" class="title dialog-title">Add Academic Year</span>
                <span *ngIf="data.pageType=='edit'" class="title dialog-title">Update Academic Year</span>
                <button mat-button class="mat-icon-button"
                        (click)="dialogRef.close()"
                        aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </mat-toolbar>
        <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
            <form [formGroup]="academicYearForm" class="event-form w-100-p" fxLayout="column" fxFlex>
                <div>
                    <!-- Name -->
                    <mat-form-field fxFlex="100">
                        <input [(ngModel)]="data.selectedAcademicYear.name" matInput formControlName="name" placeholder="Academic Year Name" required>
                        <mat-error *ngIf="name.errors?.required">
                            Academic year name is required!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <!-- Start Date -->
                    <mat-form-field fxFlex="50">
                        <input matInput [matDatepicker]="sDate" placeholder="Start date" formControlName="startDate" required>
                        <mat-datepicker-toggle matSuffix [for]="sDate"></mat-datepicker-toggle>
                        <mat-datepicker #sDate></mat-datepicker>
                        <mat-error *ngIf="startDate.errors?.required">
                            Start date is required!
                        </mat-error>
                    </mat-form-field>

                    <!-- End Date -->
                    <mat-form-field fxFlex="50">
                        <input matInput [matDatepicker]="eDate" placeholder="End date" formControlName="endDate" required>
                        <mat-datepicker-toggle matSuffix [for]="eDate"></mat-datepicker-toggle>
                        <mat-datepicker #eDate></mat-datepicker>
                        <mat-error *ngIf="endDate.errors?.required">
                            End date is required!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <!-- Weekend type -->
                    <div class="mat-input-infix mat-form-field-infix" fxFlex="100">
                        <mat-radio-group formControlName="weekendType">
                            <mat-radio-button value="EverySunday">Closed on every Sundays</mat-radio-button>
                            <mat-radio-button value="EverySaturdayEverySunday">Closed on every Saturday and every Sunday</mat-radio-button>
                            <!-- <mat-radio-button value="AlternateSaturdayEverySunday">Closed on alternate Saturday and every Sunday</mat-radio-button> -->
                        </mat-radio-group>
                    </div>
                </div>
                <div style="margin-top:15px;">
                    <mat-checkbox formControlName="current" style="margin-right: 10px;"></mat-checkbox> Is this your current Academic Year?
                </div>
            </form>
        </div>
        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-button
                    mat-raised-button
                    *ngIf="data.pageType=='add'"
                    [disabled]="academicYearForm.invalid"
                    (click)="addAcademicYear()"
                    class="save-button mat-accent"
                    aria-label="SAVE">
                    Add
            </button>
            <button mat-button
                    mat-raised-button
                    *ngIf="data.pageType=='edit'"
                    [disabled]="academicYearForm.invalid"
                    (click)="updateAcademicYear()"
                    class="save-button mat-accent"
                    aria-label="SAVE">
                    Update
            </button>
            <button mat-button
            (click)="dialogRef.close(['close', academicYearForm])">
                    Close
            </button>
        </div>
    </div>