<div id="holidays" class="page-layout carded fullwidth" fusePerfectScrollbar>
    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button [routerLink]="'/apps/examination/list'" class="mr-0 mr-sm-16" mat-icon-button>
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <div class="product-image mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <mat-icon class="s-48">person_outline</mat-icon>
                </div>
                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Schedule Exam
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Plan your exam</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg p-24">
            <p>
                Angular reactive forms facilitate a reactive style of programming that favors explicit management of the data flowing between
                a non-UI data model (typically retrieved from a server) and a UI-oriented form model that retains the states
                and values of the HTML controls on screen. Reactive forms offer the ease of using reactive patterns, testing,
                and validation.
            </p>

            <div>
                <label class="pr-24">Select Standard</label>
                <mat-form-field>
                    <mat-select placeholder="Standard" [(ngModel)]="standard" multiple>
                        <mat-option *ngFor="let standard of standardList" [value]="standard.id">{{standard.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="mat-elevation-z8">
                <mat-list class="p-20">
                    <mat-list-item>
                        <div fxFlex="25">
                            <mat-form-field fxFlex="80">
                                <mat-select placeholder="Select Subject" name="subject" [(ngModel)]="examObj.subjectName" #subject="ngModel" required>
                                    <mat-option *ngFor="let subject of subjectList" [value]="subject.id">
                                        {{subject.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="subject.errors?.required">
                                    Subject is required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="25">
                            <mat-form-field fxFlex="80">
                                <input matInput placeholder="Select Date of Exam" name="date" [matDatepicker]="picker" [(ngModel)]="examObj.date" #date="ngModel" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="date.errors?.required">
                                    Date is required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="25">
                            <mat-form-field fxFlex="80">
                                <input matInput placeholder="Time" [(ngModel)]="examObj.time">
                            </mat-form-field>
                        </div>
                        <div fxFlex="25">
                            <mat-form-field fxFlex="80">
                                <input matInput type="number" placeholder="Marks out of" name="marks" [(ngModel)]="examObj.marksOutOf" #marks="ngModel" required>
                                <mat-error *ngIf="marks.errors?.required">
                                    Marks is required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <button mat-button class="mat-raised-button mat-accent" [disabled]="subject.invalid || date.invalid || marks.invalid" (click)="insertRowInTemplate(examObj)">
                                <mat-icon class="s-20 mat-icon material-icons white-fg" role="img" aria-hidden="true">add</mat-icon>
                                ADD
                            </button>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>

            <div class="mat-elevation-z8 mt-36" style="max-height:430px; min-height: 200px; overflow-y:scroll">
                <mat-list>
                    <mat-list-item>
                        <div fxFlex="22">Subject</div>
                        <div fxFlex="24">Date</div>
                        <div fxFlex="22">Time</div>
                        <div fxFlex="22">Marks out of</div>
                        <div fxFlex="10">Actions</div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item *ngFor="let element of scheduleExamTemplate; let i = index">
                        <div fxFlex="22">
                            {{element.subjectName}}
                        </div>
                        <div fxFlex="24">
                            {{element.date | date:'EEEE, dd-MM-yyyy'}}
                        </div>
                        <div fxFlex="22">
                            {{element.time}}
                        </div>
                        <div fxFlex="22">
                            {{element.marksOutOf}}
                        </div>
                        <div fxFlex="10">
                            <mat-icon class="accent-600-fg" style="cursor: pointer">edit</mat-icon>
                            <mat-icon class="accent-600-fg" style="cursor: pointer" (click)="deleteRowInTemplate(i)">delete</mat-icon>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                </mat-list>
            </div>

            <div class="pt-24" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="accent-600-fg" fxLayout="row" fxLayoutAlign="start center"></div>
                <button mat-button class="mat-raised-button mat-accent">
                    PUBLISH
                </button>
            </div>
        </div>
    </div>
</div>