<div id="divisions" class="page-layout carded fullwidth" fusePerfectScrollbar>    
    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
  
    <!-- CENTER -->
    <div class="center">
      <!-- HEADER -->
      <div class="header white-fg"
          fxLayout="column" fxLayoutAlign="center center"
          fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
  
          <!-- APP TITLE -->
        <div class="logo my-12 m-sm-0"
              fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">settings</mat-icon>
            <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Divisions</span>
        </div>
        <!-- / APP TITLE -->
  
        <button mat-raised-button
              (click)="openDialog()"
              class="add-product-button mat-white-bg my-12 mt-sm-0">
          <span>Add Division</span>
        </button>
      </div>
      <!-- CONTENT CARD -->
      <div class="mat-white-bg">
        <ngx-datatable
            #table
            class="material"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="48"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [reorderable]="reorderable"
            [selectionType]="'checkbox'"
            [limit]="10"
            (select)='onSelect($event)'>

            <ngx-datatable-column [width]="48"
                                [canAutoResize]="false"
                                [sortable]="false">
                <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                            let-selectFn="selectFn">
                    <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
                </ng-template>

                <ng-template ngx-datatable-cell-template 
                            let-value="value" 
                            let-isSelected="isSelected"
                            let-onCheckboxChangeFn="onCheckboxChangeFn"
                            let-row="row">
                    <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn(row)"></mat-checkbox>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Name">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.name}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>  
  </div>