<div id="fee-structure" class="page-layout carded fullwidth" fusePerfectScrollbar>
    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

      <!-- HEADER -->
      <div class="header white-fg"
           fxLayout="column" fxLayoutAlign="center center"
           fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div class="logo my-12 m-sm-0"
             fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">today</mat-icon>
            <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Fee Structure</span>
        </div>
        <!-- / APP TITLE -->
      </div>
      <!-- CONTENT CARD -->
      <div class="mat-white-bg">
          <div fxLayout="row" fxLayoutAlign="space-between center">
              <div class="accent-600-fg" fxLayout="row" fxLayoutAlign="start center">
                  <button mat-button class="font-weight-400" [routerLink]="'/apps/setup/fee-structure/new'">
                      <mat-icon class="s-20 mat-icon material-icons accent-600-fg" role="img" aria-hidden="true">add</mat-icon> 
                      ADD
                  </button>
                  <button mat-button class="font-weight-400">
                      <mat-icon class="s-20 mat-icon material-icons" role="img" aria-hidden="true">edit</mat-icon> 
                      EDIT
                  </button>
                  <button mat-button class="font-weight-400">
                      <mat-icon class="s-20 mat-icon material-icons" role="img" aria-hidden="true">delete</mat-icon> 
                      DELETE
                  </button>
              </div>
              <!-- SEARCH -->
              <div style="margin-right: 10px;">
                  <!--<mat-form-field floatPlaceholder="never">
                      <input id="search" matInput #filter placeholder="Search" class="full-right">
                  </mat-form-field>-->
              </div>
          </div>

      </div>
    </div>
  </div>
