.attendance-report-container {
    .top-bar{
         height: 70px;
         width: 100%;
         padding: 10px 20px;
    }
    .form-field {
         width:150px;
         margin-right: 20px;
    }
    .check-box{
         height: 50px;
         width: 100%;
         padding-left: 20px;
    }
    .main-container {
         height: 500px;
         border-top: 1px solid gray;
         .list {
             height: 500px;
             width: 30%;
             float:left;
         }
         .msg-mail-box {
             height: 500px;
             width: 70%;
             float:left;
             padding: 10px;
         }
    }

    .details-link {
        cursor: pointer;
    }
 }