<div id="employees" class="page-layout carded fullwidth" fusePerfectScrollbar>    
    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
  
    <!-- CENTER -->
    <div class="center">
      
      <!-- HEADER -->
      <div class="header white-fg"
           fxLayout="column" fxLayoutAlign="center center"
           fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
        
        <!-- APP TITLE -->
        <div class="logo my-12 m-sm-0"
             fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">group</mat-icon>
            <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Students</span>
        </div>
        <!-- / APP TITLE -->
          
        <button mat-raised-button
              [routerLink]="'/apps/employee/add-edit'"
              class="add-product-button mat-white-bg my-12 mt-sm-0">
          <span>Add New Student</span>
        </button>
  
      </div>
    </div>
  </div>
  