<div id="students-list" class="page-layout carded fullwidth" fusePerfectScrollbar>
    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">group</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Students</span>
            </div>
            <!-- / APP TITLE -->
        </div>

        <!-- CONTENT CARD -->
        <div class="mat-white-bg">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="accent-600-fg" fxLayout="row" fxLayoutAlign="start center">
                    <button mat-button class="font-weight-400" [routerLink]="'/apps/student/new'">
                        <mat-icon class="s-20 mat-icon material-icons accent-600-fg" role="img" aria-hidden="true">add</mat-icon>
                        ADD
                    </button>
                    <button (click)="onEditAction()" mat-button class="font-weight-400" [disabled]="selectedStudent.length === 0 || selectedStudent.length > 1">
                        <mat-icon class="s-20 mat-icon material-icons" [ngClass]="{'accent-600-fg':selectedStudent.length === 1, 'primary-100-fg': selectedStudent.length === 0 || selectedStudent.length > 1}"
                            role="img" aria-hidden="true">edit</mat-icon>
                        EDIT
                    </button>
                    <button (click)="onDeleteAction()" mat-button class="font-weight-400" [disabled]="selectedStudent.length === 0 || selectedStudent.length > 1">
                        <mat-icon class="s-20 mat-icon material-icons" [ngClass]="{'accent-600-fg':selectedStudent.length === 1, 'primary-100-fg': selectedStudent.length === 0 || selectedStudent.length > 1}"
                            role="img" aria-hidden="true">delete</mat-icon>
                        DELETE
                    </button>
                    <button (click)="exportAsPdf()" mat-button class="font-weight-400" [disabled]="studentList?.length === 0">
                        <mat-icon class="s-20 mat-icon material-icons" [ngClass]="{'accent-600-fg':studentList?.length > 1, 'primary-100-fg': studentList?.length === 0}"
                            role="img" aria-hidden="true">file_download</mat-icon>
                        Download
                    </button>
                    <!-- TODO: for nect release
                        <button mat-button class="font-weight-400" [matMenuTriggerFor]="menu">
                        <mat-icon class="s-20 mat-icon material-icons accent-600-fg">settings</mat-icon> ACTIONS
                       </button>
                        <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon class="s-20">chevron_right</mat-icon> Action 1
                        </button>
                        <button mat-menu-item>
                            <mat-icon class="s-20">chevron_right</mat-icon> Action 2
                        </button>
                    </mat-menu>-->
                </div>
                <!-- SEARCH -->
                <div class="text-right">
                    <mat-select class="w-10-p" placeholder="Standard" [(ngModel)]="std" (change)="applyFilter()">
                        <mat-option *ngFor="let std of standards" [value]="std.standard_id">
                            {{std.name}}
                        </mat-option>
                    </mat-select>
                    <mat-select class="w-10-p" placeholder="Division" [(ngModel)]="division" (change)="applyFilter()">
                        <mat-option *ngFor="let divi of divisions" [value]="divi.division_id">
                            {{divi.name}}
                        </mat-option>
                    </mat-select>
                    <mat-form-field class="ml-32 mr-12" floatPlaceholder="never">
                        <input id="search" (keyup)='updateFilter($event)' matInput #filter placeholder="Search" class="full-right">
                    </mat-form-field>
                </div>
                <!-- / SEARCH -->
            </div>

            <ngx-datatable #table class="material" [rows]="studentList" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
                [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable"
                [selectionType]="'single'" [limit]="10" (select)='onSelect($event)'>

                <ngx-datatable-column name="Name" prop="name">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <a class="empl-name" (click)="showProfile(row.student_id);">{{row.firstName}} {{row.lastName}}</a>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Gender" prop="gender"></ngx-datatable-column>

                <ngx-datatable-column name="Email" prop="father.emailId"></ngx-datatable-column>

                <ngx-datatable-column name="Contact No" prop="father.phoneNumber"></ngx-datatable-column>

                <ngx-datatable-column name="Address" prop="correspondenceAddress"></ngx-datatable-column>

            </ngx-datatable>
        </div>
    </div>
</div>